<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %> 
  </div>
  <div class="create-room">
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
      <%= link_to room.name,  item_room_messages_path(@room.id,@item.id) %>
      </div>
    </div>
  <% end %>
  <div class="room">
    <div class="room-name">
    </div>
  </div>
</div>